<div class="item">
  <h5>Source:</h5>
  <italic><%= item.source %></italic>
  <h5>Category:</h5>
  <italic><%= item.category %></italic>
  <h5>Location:</h5>
  <italic><%= item.location %></italic>
</div>
<hr/>